<div class="graph">
    <div class="row" *ngIf="!loading; else loadingDiv">
        <div class="col-md-12">
            <div style="display: block">
                <canvas baseChart height="100"
                        [datasets]="activitiesData"
                        [labels]="activitiesLabels"
                        [options]="activitiesOptions"
                        [legend]="activitiesLegend"
                        [chartType]="activitiesChartType"></canvas>
            </div>
        </div>
    </div>

    <ng-template #loadingDiv>
        <span jhiTranslate="global.messages.loading">Loading...</span>
        <div class="spinner"></div>
    </ng-template>
</div>
