<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.graphs.stores.title">Graphs per store</span>
    </h2>
    <ngb-tabset>
        <ngb-tab id="tab-preventchange1" title="Demo">
            <ng-template ngbTabContent>
                <div>
                    <jhi-stores-demo></jhi-stores-demo>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-preventchange2" title="Activity">
            <ng-template ngbTabContent>
                <div>
                   <jhi-stores-activity></jhi-stores-activity>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
