<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.graphs.title">Graphs</span>
    </h2>

    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <span jhiTranslate="backofficeApp.graphs.tabs.age-distribution">Age distribution</span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-age-distribution></jhi-age-distribution>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>
                <span jhiTranslate="backofficeApp.graphs.tabs.activity">Gender Distribution</span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-activity></jhi-activity>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
