<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-home-page-heading" jhiTranslate="backofficeApp.homePage.home.createOrEditLabel">Create or edit a Home Page</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!homePage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="homePage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backofficeApp.homePage.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="homePage.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backofficeApp.homePage.youngMaleUrl" for="field_youngMaleUrl">Young Male Url</label>
                    <input type="text" class="form-control" name="youngMaleUrl" id="field_youngMaleUrl"
                        [(ngModel)]="homePage.youngMaleUrl" required/>
                    <div [hidden]="!(editForm.controls.youngMaleUrl?.dirty && editForm.controls.youngMaleUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.youngMaleUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backofficeApp.homePage.youngFemaleUrl" for="field_youngFemaleUrl">Young Female Url</label>
                    <input type="text" class="form-control" name="youngFemaleUrl" id="field_youngFemaleUrl"
                        [(ngModel)]="homePage.youngFemaleUrl" required/>
                    <div [hidden]="!(editForm.controls.youngFemaleUrl?.dirty && editForm.controls.youngFemaleUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.youngFemaleUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backofficeApp.homePage.adultMaleUrl" for="field_adultMaleUrl">Adult Male Url</label>
                    <input type="text" class="form-control" name="adultMaleUrl" id="field_adultMaleUrl"
                        [(ngModel)]="homePage.adultMaleUrl" required/>
                    <div [hidden]="!(editForm.controls.adultMaleUrl?.dirty && editForm.controls.adultMaleUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.adultMaleUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backofficeApp.homePage.adultFemaleUrl" for="field_adultFemaleUrl">Adult Female Url</label>
                    <input type="text" class="form-control" name="adultFemaleUrl" id="field_adultFemaleUrl"
                        [(ngModel)]="homePage.adultFemaleUrl" required/>
                    <div [hidden]="!(editForm.controls.adultFemaleUrl?.dirty && editForm.controls.adultFemaleUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.adultFemaleUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
