<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="device">
            <h2><span jhiTranslate="backofficeApp.device.detail.title">Device</span> {{device.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="backofficeApp.device.name">Name</span></dt>
                <dd>
                    <span>{{device.name}}</span>
                </dd>
                <dt><span jhiTranslate="backofficeApp.device.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{device.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="backofficeApp.device.homepage">Homepage</span></dt>
                <dd>
                    <div *ngIf="device.homepage">
                        <a [routerLink]="['/home-page', device.homepage?.id, 'view']">{{device.homepage?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device', device.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
