<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.graphs.general.title">General graphs</span>
    </h2>

    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <span jhiTranslate="backofficeApp.graphs.general.tabs.activity">Activity</span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-general-activity></jhi-general-activity>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>
                <span jhiTranslate="backofficeApp.graphs.general.tabs.age-distribution">Age distribution</span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-general-age-distribution></jhi-general-age-distribution>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
