<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.graphs.general.title">General graphs</span>
    </h2>
    <ngb-tabset>
        <ngb-tab id="tab-preventchange1" title="Demo">
            <ng-template ngbTabContent>
                <div>
                    <jhi-general-demo></jhi-general-demo>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-preventchange2" title="Activity">
            <ng-template ngbTabContent>
                <div>
                    <jhi-general-activity></jhi-general-activity>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
