<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.classification.home.title">Classifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classification" [routerLink]="['/classification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="backofficeApp.classification.home.createLabel">
            Create new Classification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="classifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backofficeApp.classification.personId">Person Id</span></th>
            <th><span jhiTranslate="backofficeApp.classification.timestamp">Timestamp</span></th>
            <th><span jhiTranslate="backofficeApp.classification.age">Age</span></th>
            <th><span jhiTranslate="backofficeApp.classification.gender">Gender</span></th>
            <th><span jhiTranslate="backofficeApp.classification.emotion">Emotion</span></th>
            <th><span jhiTranslate="backofficeApp.classification.device">Device</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classification of classifications ;trackBy: trackId">
                <td><a [routerLink]="['/classification', classification.id, 'view' ]">{{classification.id}}</a></td>
                <td>{{classification.personId}}</td>
                <td>{{classification.timestamp | date:'medium'}}</td>
                <td>{{classification.age}}</td>
                <td jhiTranslate="{{'backofficeApp.Gender.' + classification.gender}}">{{classification.gender}}</td>
                <td jhiTranslate="{{'backofficeApp.Emotion.' + classification.emotion}}">{{classification.emotion}}</td>
                <td>
                    <div *ngIf="classification.device">
                        <a [routerLink]="['../device', classification.device?.id, 'view' ]" >({{classification.device?.postalCode}}) {{classification.device?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/classification', classification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/classification', classification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'classification', { outlets: { popup: classification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
