<div class="graph">
    <div *ngIf="!devicesLoading; else loadingDiv">
        <div style="text-align:right">
            <div class="btn-group mr-3">
                <button type="button" class="btn btn-outline-default" disabled>
                    <span jhiTranslate="backofficeApp.graphs.options.store">Store</span>
                </button>
                <div ngbDropdown *ngIf="selectedDevice">
                    <button class="btn btn-outline-primary" id="dropdownStores" ngbDropdownToggle>
                        {{selectedDevice.postalCode}} - {{selectedDevice.name}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownStores">
                        <button class="dropdown-item" *ngFor="let device of devices" (click)="selectStore(device)">
                            {{device.postalCode}} - {{device.name}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="btn-group mr-3">
                <button type="button" class="btn btn-outline-default" disabled>
                    <span jhiTranslate="backofficeApp.graphs.options.chart-type">Chart type</span>
                </button>
                <div ngbDropdown *ngIf="selectedDevice">
                    <button class="btn btn-outline-primary" id="dropdownChartType" ngbDropdownToggle>
                        {{selectedChartType.name}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownChartType">
                        <button class="dropdown-item" *ngFor="let chartType of chartTypes" (click)="selectChartType(chartType)">
                            {{chartType.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!graphLoading; else loadingDiv">
            <div class="col-md-12">
                <div style="display: block">
                    <canvas baseChart height="100"
                            [datasets]="activitiesData"
                            [labels]="activitiesLabels"
                            [options]="activitiesOptions"
                            [legend]="activitiesLegend"
                            [chartType]="selectedChartType.type"></canvas>
                </div>
            </div>
        </div>
    </div>

    <ng-template #loadingDiv>
        <span jhiTranslate="global.messages.loading">Loading...</span>
        <div class="spinner"></div>
    </ng-template>
</div>
