<div class="row" *ngIf="isAuthenticated() && metrics">
    <div class="col-md-12">
        <h1 class="display-4">
            <span jhiTranslate="home.welcome">Welcome</span>
            {{account.login}}!
        </h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="tv"></fa-icon></div>
        {{metrics.numberOfDevices}} devices
        <!-- TODO: this ng-pluralize is not working :( -->
        <ng-pluralize count="metrics.numberOfDevices"
                      when="{
                      '0': 'No devices',
                     'one': '1 device',
                     'other': '{} devices'
                     }">
        </ng-pluralize>
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="users"></fa-icon></div>
        {{metrics.distinctCustomers}} people detected
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="camera"></fa-icon></div>
        {{metrics.numberOfClassifications}} classifications
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="birthday-cake"></fa-icon></div>
        Average age of {{metrics.averageAge}}
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="venus"></fa-icon></div>
        {{ratioToFemalePercentage(metrics.femaleRatio)}}% female
    </div>

    <div class="col-md-2 text-center">
        <div class="icon"><fa-icon icon="mars"></fa-icon></div>
        {{ratioToMalePercentage(metrics.femaleRatio)}}% male
    </div>
</div>
<div class="row" *ngIf="!isAuthenticated()">
    <h1 class="display-4">Hi Guest!</h1>
    <p>Please request an account to access the back office</p>
</div>
<pre>{{devices|json}}</pre>
<div class="row" *ngIf="isAuthenticated() && devices">
    <div class="col-md-12">
        <h2 class="display-4">Live Devices (for debugging)</h2>
    </div>
    <div *ngFor="let device of devices ;trackBy: trackId" class="col-md-4">
        <div>{{device.name}}</div>
        <div>
            <img src="http://{{device.lastIp}}:5000/video_viewer" alt="" />
        </div>
    </div>
</div>
